.sec-1 {
    max-width: 1440px;
    margin: 30px auto;
    // height: 630px;
}

.bsc-1 {

    &__item {
        width: 100%;
        height: 630px;
        max-width: 100%;
        span {
            position: absolute;
            z-index: 5;
            top: 0;
            margin-top: 2.5%;
            margin-left: 3%;
            h1 {
                position: relative;
                font-family: 'HSE-Slab-extra-bold';
                font-style: normal;
                font-weight: 900;
                font-size: 96px;
                line-height: 96px;
                color: #FFFFFF;
    
            }
    
            p {
                position: relative;
                font-family: 'HSE-Sans-semi-bold';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 26px;
                color: #FFFFFF;
                max-width: 450px;
            }
            @media (max-width: 1440px) {
                margin-top: 2.5%;
                margin-left: 2%;
                h1 {
                    font-size: 76px;
                    line-height: 76px;
        
                }
        
                p {
                    font-size: 20px;
                    line-height: 22px;
                    color: #FFFFFF;
                    max-width: 400px;
                }
            }
            @media (max-width: 990px) {
                margin-top: 2.5%;
                margin-left: 2%;
                h1 {
                    font-size: 48px;
                    line-height: 48px;
        
                }
        
                p {
                    font-size: 18px;
                    line-height: 20px;
                    max-width: 350px;
                }
            }
            @media (max-width: 769px) {
                margin-top: 2%;
                margin-left: 2%;
                h1 {
                    font-size: 36px;
                    line-height: 36px;
        
                }
        
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 18px;
                    max-width: 300px;
                }
            }
            @media (max-width: 540px) {
                margin-top: 2%;
                margin-left: 1%;
                h1 {
                    font-size: 28px;
                    line-height: 28px;
        
                }
        
                p {
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 18px;
                    max-width: 280px;
                }
            }
        }
        img {
            height: auto;
            width: 100%;
            // z-index: -1;

            @media (max-width: 540px) {
                height: 260px;
                width: 120%;
            }
        }

    }
}

.slick-arrow {
    position: absolute;
    z-index: 10 !important;
    width: 40px !important;
    height: 40px !important;
    &::before {
        width: 30px !important;
        height: 30px !important;
    }
    @media (max-width: 769px) {
        display: none;
    }
}

.slick-prev {
    left: 1% !important;

    &::before {
        width: 30px !important;
        height: 30px !important;
    }
}
.slick-next {
    right: 1% !important;
    &::before {
        width: 30px !important;
        height: 30px !important;
    }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  height: 60px;
  width: 60px;
  z-index: 1;
  cursor: pointer;
}

.next {
  right: 1%;
}
.prev {
    left: 1%;
}

.dots-style {
    z-index: 10;
    left: 0;
    right: 0;
    margin-top: -50px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    @media (max-width: 540px) {
        margin-top: -30px;
    }
  }
  
  .dots-style button {
    background: #FFFFFF;
    border: none;
    border-radius: 25px;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
    outline: none;
    @include anim(0.3s, 0s);
    @media (max-width: 769px) {
        height: 10px;
        width: 10px;
    }
  }
  
  .dots-style li[class="slick-active"] button {
    background: #FFFFFF;
    width: 50px;
    @media (max-width: 769px) {
        width: 25px;
    }
  }